body, html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.App {
  text-align: center;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #282c34;
  padding: 1rem 2rem;
  color: white;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.nav-links a {
  color: white;
  margin-left: 1rem;
  text-decoration: none;
}

.nav-links a:hover {
  text-decoration: underline;
}

/* Hero Section */
.hero {
  padding: 3rem 1rem;
  background-color: #61dafb;
  color: #282c34;
}

.hero h1 {
  float: inline-start;
  margin-bottom: 0.5rem;
}


/* Content Cards */
.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 2rem;
  gap: 1rem;
}

.card {
  background: #f4f4f4;
  padding: 2rem;
  border-radius: 8px;
  width: 300px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

/* Responsive Media Queries */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
  }

  .nav-links {
    margin-top: 0.5rem;
  }

  .content {
    flex-direction: column;
    align-items: center;
  }
}